*{
    font-family: Arial, Helvetica, sans-serif !important;
}

html, body, #root {
    height: 100%;
}

.Welcome{
    position: relative;
    top: 120px;
    width: 500px;
    margin: auto;
}

.login{
    position: relative;
    margin: auto;
    width: max-content;
}

.firstBackground{
    display: block;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url('./images/Wave.png');
    height: 670px;
}

.navLinkContainer{
    position: relative;
    margin: auto;
    left: -50px;
    top: 10px;
}

.navbar{
    position: sticky;
    width: 100%;
    background-color:#1f1f1f;
    z-index: 1;
    top: 0;
}

.navLink{
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    margin-right: 30px;
    max-height: 56px;
    color: #ffffff;
}

.navLink:hover{
    text-decoration: none;
    background-color: #00b0ff;
    color: #ffffff;
}

.saved{
    background-color: rgb(53, 204, 53);
    color: #FFFFFF;
    font-size: 12px;
    margin-top: 10px;
    width: 80%;
    text-align: center;
    border-radius: 2px;
    border: none;
    float: left;
    margin-left: 5px;
}

.card{
    float:left;
    margin-top: 10px;
    margin-right: 10px;
    min-height: 720px;
    width: 290px;
}

.card-body{
    max-height: 700px;
    width: 290px;
}

#products > div > .surfboardList{
    position: relative;
    top: 130px;
}

.container > .surfboardList{
    position: relative;
    top: 35px;
}

.container{
    max-width: 1230px;
}

.addToFav{
    position: relative;
    float: left;
}

h5{
    font-size: 17px;
    font-weight: bold;
}

.surfboard > img {
    width: 245px;
}

.Heart{
    margin-right: 5px;

}

.nonFav{
    color: #007bff;
    background-color: #ffffff;
}

.Logo{
    margin-left: 30px;
}

.loadMore{
    position: relative;
    background-color: #007bff;
    text-align: center;
    border: none;
    border-radius: 3px;
    width: 208px;
    height: 40px;
    color: #FFFFFF;
    vertical-align: middle;
    margin-bottom: 15px;
    margin-top: 30px;
    left: 50%;
    transform: translate(-50%, -50%)
}

.loadMore:hover{
    background-color: #00b0ff;
    border-color:#17a2b8;
    box-shadow: 2px 2px 2px rgba(56, 56, 56, 0.2);
    cursor: pointer;
}

.form-control{
    width: 100%;
}

.wrapperStyle{
    width: 474px;
    margin: 5px 0 0 5px;
}

.formContainer{
    position: relative;
    width: 520px ;
    border: 3px solid #E4E4E4;
    border-radius: 10px;
    padding: 25px;
    
}

.btn-info{
    margin-top: 18px;
}

.matchForm{
    margin-top: 150px;
}

.clear{
    clear: both;
}

.toggle_radio{
    position: relative;
    background: rgba(31,31,31,.1);
    margin: 4px;
    overflow: hidden;
    padding: 0 !important;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    height: 26px;
    width: 265px;
  }

  .toggle_radio > * {
    float: left;
  }
  .toggle_radio input[type=radio]{
    display: none;
  }
  .toggle_radio label{
    font: 90%/1.618 "Source Sans Pro";
    color: rgba(31,31,31,.9);
    display: block;
    width: 109px;
    height: 20px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
  }
  .toggle_option_slider{
    width: 129px;
    height: 20px;
    position: absolute;
    opacity: 0.3;
    top: 3px;
    background: #00b0ff;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
  }

  .rc-slider{
      width: 94%;
  }

  #first_toggle:checked ~ .toggle_option_slider{
    left: 3px;
  }
  #second_toggle:checked ~ .toggle_option_slider{
    left: 133px;
  }

.firstLabel{
    margin: 3px 10px;
}

.secondLabel{
    margin: 3px 13px;
}

.productPic{
    position: relative;
    top: 350px;
    width: 100%;
}

.matchForm > img{
    width: 100%;
}

.submitButton{
    position: relative;
    left: 152px;
    background-color: #007bff;
    border: none;
    min-width: 159px;
    min-height: 36px;
}

.submitButton:hover{
    background-color: #00b0ff;
}

.warning{
    color: white;
    background: #b33a3a;
    border-radius: 10px;
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
}

.warningText{
    font-size: 14px;
    font-weight: normal;
}

.iframeContainer{
    max-width: 1230px;
    min-height: 550px;
    margin-bottom: 50px;
}

.iframeContainer > iframe:nth-child(2){
    width: 615px;
    height: 450px;
    float: left;
    position: relative;
    left: 295px;
}

.iframeContainer > iframe:nth-child(3){
    width: 615px;
    height: 450px;
    float: left;
    position: relative;
    left: 312px;
}

.spotsPic{
    width: 100%;
    position: relative;
    left: 290px;
    top: 20px;
}
.userProfile{
    position: relative;
    bottom: 8px;
    float: right;
    width: 175px;
    left: 150px;
}
.userPicture{
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 30px;
}

.userProfile h6{
    float: left;
    text-align: center;
    padding-top: 10px;
    padding-left: 10px;
    color: #ffffff;
}

@media(max-width: 1366px) {
    .iframeContainer{
        max-width: 825px;
    }

    .iframeContainer > iframe:nth-child(2){
        width: 400px;
        height: 350px;
        float: left;
        position: relative;
        left: 295px;
    }
    
    .iframeContainer > iframe:nth-child(3){
        width: 400px;
        height: 350px;
        float: left;
        position: relative;
        left: 312px;
    }

    .spotsPic{
        width: 100%;
        position: relative;
        left: 290px;
        top: 20px;
    }
}

.favoritesPic{
    width: 100%;
    position: relative;
    top: 255px;   
}

.listContainer{
    position: relative;
    top: 200px;
}

.formContainer > h2, .formContainer >  h4{
    text-align: center;
}

form > article {
    margin-top: 30px;
}