.Welcome{
    position: relative;
    top: 100px;
    left: 35%;
    width: 500px;
}

.login{
    position: relative;
    left: 30%;
}

body{
    display: block;
    background-repeat: no-repeat;
    background-image: url('./images/Wave.png');
}

.navbar{
    position: relative;
    left: 370px;
    top: 35px;
    width: 570px;
}
.navLink{
    font-family: Arial, sans-serif;
    text-decoration: none;
    color: #37393c;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    margin-right: 30px;
}

.navLink:hover{
    text-decoration: none;
    font-family: Arial, sans-serif;
    background-color: #00b0ff;
    color: #ffffff;
}

.Matcher{
    margin-right: 130px;
}

.saved{
    background-color: rgb(53, 204, 53);
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    font-size: 12px;
    margin-top: 5px;
    width: 80%;
    text-align: center;
    border-radius: 2px;
    border: none;
    float: left;
}

.card{
    float:left;
    margin-top: 10px;
    margin-right: 10px;
    min-height: 720px;
    width: 300px;
}

.card-body{
    max-height: 720px;
    width: 300px;
}

.surfboardList{
    position: relative;
    top: 150px;
}

.container{
    max-width: 1230px;
}

.addToFav{
    position: relative;
    float: left;
}