html, body, #root {
    height: 100%;
}

.Welcome{
    position: relative;
    top: 120px;
    width: 500px;
    margin: auto;
}

.login{
    position: relative;
    margin: auto;
    width: max-content;
}

.firstBackground{
    display: block;
    background-repeat: no-repeat;
    background-image: url('./images/Wave.png');
    height: 670px;
}

.navbar{
    position: sticky;
    width: 100%;
    background-color:#1f1f1f;
    padding-left: 370px;
    z-index: 1;
    top: 0;
}

.navLink{
    font-family: Arial, sans-serif;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    margin-right: 30px;
    color: #ffffff;
}

.navLink:hover{
    text-decoration: none;
    font-family: Arial, sans-serif;
    background-color: #00b0ff;
    color: #ffffff;
}

.Matcher{
    margin-right: 130px;
}

.saved{
    background-color: rgb(53, 204, 53);
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    font-size: 12px;
    margin-top: 10px;
    width: 80%;
    text-align: center;
    border-radius: 2px;
    border: none;
    float: left;
    margin-left: 5px;
}

.card{
    float:left;
    margin-top: 10px;
    margin-right: 10px;
    min-height: 720px;
    width: 290px;
}

.card-body{
    max-height: 700px;
    width: 290px;
}

.surfboardList{
    position: relative;
    top: 150px;
}

.container{
    max-width: 1230px;
}

.addToFav{
    position: relative;
    float: left;
}

h5{
    font-size: 17px;
    font-weight: bold;
}

.surfboard > img {
    width: 245px;
}

.Heart{
    margin-right: 5px;

}

.nonFav{
    color: #007bff;
    background-color: #ffffff;
}

.Logo{
    margin-left: 30px;
}

.loadMore{
    position: relative;
    background-color: #629bc0;
    text-align: center;
    border: none;
    border-radius: 3px;
    width: 240px;
    height: 30px;
    color: #FFFFFF;
    vertical-align: middle;
    margin-bottom: 15px;
    margin-top: 30px;
    left: 50%;
    transform: translate(-50%, -50%)
}

.loadMore:hover{
    color: #000000;
    box-shadow: 2px 2px 2px rgba(56, 56, 56, 0.2);
    cursor: pointer;
}